name: Ruff Linter

on:
  workflow_call:

jobs:
  ruff-check:
    runs-on: ubuntu-latest
    # Только при коммитах в ветку для которой есть pull request
    if: github.event_name == 'pull_request'
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Ruff
        uses: astral-sh/ruff-action@v1
        with:
          args: "check --output-format=github"